.container {
    width: 50%;
    margin: auto;
    padding: 10px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.3);
    text-align: left;
}

.content {
    margin: 0;
    padding: 10px;
    font-size: 20px;
}