.commentComponent {
    text-align: center;
    height:80vh;
    color: rgba(255, 255, 255, 0.7);
    overflow-y: scroll
  }

::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: rgba(255, 255, 255, 0.2);  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 1px solid slategrey;
}
  