.toolbar {
    text-align: right;
    padding: 10px 10px 10px 10px
  }
  
  .btn-toolbar {
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.1);
  }
  
  .btn-toolbar:hover {
      color: rgba(255, 255, 255, 0.7);
      background-color: rgba(255, 255, 255, 0.3);
      transition: ease 0.5s;
  }