.WeatherComponent {
  text-align: center;
}

.WeatherComponent-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.WeatherComponent-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.WeatherComponent-title {
  font-size: 1.5em;
}

.WeatherComponent-intro {
  font-size: large;
}

@keyframes WeatherComponent-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
