.custom-input {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.1);
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.custom-input:focus {
    outline: solid 1px rgba(255, 255, 255, 0.4);
    transition: linear 0.7ms;
}

.custom-textbox {
    width: 400px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.1);
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5); 
}

.custom-textbox::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.custom-textbox:focus {
    outline: solid 1px rgba(255, 255, 255, 0.4);
    transition: linear 0.7ms;
}

.input-error {
    width: 400px;
    background-color: rgba(252, 0, 0, 0.1);
    border: solid 1px rgba(252, 0, 0, 0.3);
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5); 
}

.input-error:focus {
    outline: solid 1px rgba(252, 0, 0, 0.4);
}

.input-error::placeholder {
    color: rgba(252, 0, 0, 0.3);
}

.input-error-textarea {
    width: 400px;
    height: 100px;
    background-color: rgba(252, 0, 0, 0.1);
    border: solid 1px rgba(252, 0, 0, 0.3);
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5); 
}

.input-error-textarea:focus {
    outline: solid 1px rgba(252, 0, 0, 0.4);
}

.input-error-textarea::placeholder {
    color: rgba(252, 0, 0, 0.3);
}

.form-error {
    color: rgba(252, 0, 0, 0.3);
}

.btn-submit {
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.btn-submit:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

.btn-submit:focus {
    outline: none;
}